@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import url(./style.css);
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    max-width: 1110px;
    margin:0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    
}

/* ========================
  section1
==============================*/
.main-article{
    padding-top:160px;
    padding-bottom:184px;
}
.intro{
    background-image: url(../img/Bitmap\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:64px;
    padding-bottom:164px;
   

}

.link{
    font-family:'Alata', sans-serif; 
    margin-right:32px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
 
}
.link:nth-child(5){
    margin-right:0;
}
.logo{
    margin-bottom:132px;
}
.immersive{
    
    font-size: 72px;
    font-weight: 300;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    width: 570px;
    padding:40px;
    border:2px solid white;

}
.leader{
    position: relative;
    width: 65%;
    z-index: -1;
   
    
}
.leader img{
    width: 100%;
}

.product{
    width: 445px;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin:0;
}
.company{
    font-family:'Alata', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 445px;
    opacity: 0.5;
    margin-top:25px;
}
.project{
    width: 40%;
    position: relative;
    left: -140px; 
    bottom: -148px;
    background-color: white;
    z-index: 4;
    padding-top:96px;
    padding-left:96px;
}
.link:hover::after{
    transform: scaleX(1);
}
.link::after{
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: white;
    margin-top:30px;
    margin-left:-31px;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
}
.main-toggle{
    display: none;
}

/* ==============================
  SECTION3
================================*/
.media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:50px;
    
}
.creation{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
}
.all{
    font-family:'Alata', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 5px;
    padding:13px 43px 13px 43px;
    text-decoration: none;
    border:1px solid black;
    color:black;
}
.creat{
    padding-bottom:184px;
}
.creat .row{
   
    flex-wrap: wrap;
}
.creat .column4{
    position: relative;
    margin-top:30px;
}
.earth{
    position: absolute;
    bottom:32px;
    left:40px;  
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    color: white;
    
}
.all:hover{
    background-color: black;
    color:white;

}
.team:hover{
    opacity: 0.5;
     
}


.team:hover ~ .earth{
    color: black ;
}

/* ===========================
  FOOTER
================================*/
.main-footer{
    background-color: black;
    padding-top:44px;
    padding-bottom:44px;
}
.main-icon{
    display: flex;
    justify-content: space-between;
}
.footer-link{
    margin-top:24px;
}
.reserv{
    color:white;
    opacity: 0.5;
    margin-top:24px;
}
.flink{
   
    text-decoration: none;
    color: white;
    font-family:'Alata', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

}
.flink:not(:last-child){
     margin-right:32px;
}
.ficon{
    margin-right:16px;
    text-decoration: none;
    color: white;
}
.ficon:not(:last-child){
    margin-right:16px;
   
}
 .flink:hover:before{
   
 transform: scaleX(1);
  
}

.flink::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: white;
    margin-top:30px;
    margin-left:11px;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    
}
.ficon:hover:before{
   
    transform: scaleX(1);
     
   }
.ficon::before{
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: white;
    margin-top:30px;
    margin-left:-1px;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
   
}

